html
    head
    body
        form(action = "/auth" method = "POST")
            label login
            input(type = 'text' name="login")
            br
            label password
            input(type = "password" name="password")
            br
            input(type = "submit" value="login")
            br
            a(href="/register") Register
        h3=message