html
    head
        link(rel="stylesheet" href="/css/style.css")
    body
        table.information
            each p in products
                tr.products
                    td= p.id
                    td.h1= p.name
                    td.pr= p.price
                    td.cat= p.category_name

                    if userRole === "ADMIN"
                        td.actions
                            a.btn(href="/edit/" + p.id) Edit
                            form.delete-form(action="/delete/" + p.id method="POST")
                                button.btn.delete(type="submit") Delete

        if userRole==="ADMIN"
            a.btn(href="/createProd") create product