html
    head
    body
        form(action = "/createProduct" method="POST")
            label name
            input(name="name" type="text" required)
            br
            label Price:
            input(name="price" type="number" required)
            br
            select(name="category") Category
                each c in categories
                    option(value=c.id)=c.name
            br
            input(type="submit" value="save" )
        a(href="/prod") List products
        if message
            p=message
