html
    head
        link(rel="stylesheet" href="/css/style.css")
    body
        form(action = "/register" method = "POST")
            label Name
            input(type = 'text' name="name")
            br
            label password
            input(type = "password" name="password")
            br
            input(type = "submit" value="register")
        h3=message